body{
    background-color:#a8d3ee;
}
#mainHeading{
    font-size: 30px;
    font-weight: bold;
    text-align:center;
    color:rgb(230, 175, 57)
}
.card{
    height:380px;
    width:22%;
    background-color:#4f93bc;
    float:left;
    margin-left:2%;
    color:white;
    text-align: center;
    border:5px groove gray
}

.purple{
    background-color:#4c212f;
}
.green{
    background-color:#37587e
}
.blue{
    background-color:#87634d;
}
.cardImage{
    height:190;
    width:100%
}
/* display:inline-block*/