body{
    margin:auto ;
    background-color: #ecd4c9
}
#header{
    height:60px;
    background-color:#d1a292;
}

#header> #icon{
    font-size: 13px;
    color: #13648c;
    margin-left: 1%;
    margin-top: 0%;
    position:absolute;
}

#social{
    height:60px;
    width:200px;
    float: right;
    margin-right: 1%;
}
#search{
    height:450px;
    background-image:url('images/foodWallpaper.png');
    background-repeat: no-repeat;
    background-size:cover;
    background-size: 100% 500px;
}

.slogo{
    height:50px;
    width:50px
}
.logoyt{
    width:80px
}

a{
    text-decoration: none;
}

#logo{
    height:150px;
    width:150px;
    background-color: white;
    border-radius: 50%;
    margin-left: 43%;
    margin-top: 2%;
    position:absolute;
    text-align: center;
    font-size:80px;
    color:red;
    animation-name: logoanimation;
    animation-duration:10s;
    animation-iteration-count: infinite;
}

@keyframes logoanimation{
    0% {margin-left: 10%;}
    20% {margin-left: 30%;}
    40% {margin-left: 40%;}
    50% {margin-left: 60%;}
    70% {margin-left: 80%;}
    80% {margin-left: 60%;}
    100% {margin-left: 40%;}
}

#logo > span{
    position: absolute;
    margin-left: -36%;
    margin-top: 18%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight:100
}
#heading{
    text-align: center;
    color:white;
    font-size:45px;
    margin-top:14%;
    margin-left: 24%;
    position: absolute;
}
.dropdown{
    height: 60px;
    width:60%;
    margin-top:20%;
    margin-left: 22%;
    position: absolute;
}
select{
    height:60px;
    width:35%;
    font-size:20px
}

.restaurantSelect{
    width:50%;
}

#quicksearch{
    width:80%;
    margin-left:12%;
    height:400px;
    margin-top: 3%;
}

#QuickHeading{
    color:#dc0208;
    font-size:30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight:bold;
    display:block;
    margin-left:2%;
    transition: margin-left 2s;
}

#QuickHeading:hover{
    color:green;
    margin-left:40%
}

#QuickSubHeading{
    color:gray;
    font-size:20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight:bold;
    line-height: 2;
    margin-left:2%;
}
.tileContainer{
    height:280px;
    width:30%;
    float: left;
    margin-top:4%;
    margin-left:2%;
    margin-bottom:1%;
    box-shadow: 20px 30px 40px gray;
    border-radius: 10%;
}

.tileContainer:hover{
    transform: scale(1.1);
}
.tileComponent1{
    width:100%;
    height:180px;
    background-color:rgb(226, 246, 134);
}
.tileComponent1 >  img {
    width:100%;
    height:180px;
}
.tileComponent2{
    width:100%;
    height:100px;
}
.componentHeading{
    color:#a05747;
    text-align:center;
    font-size:35px;
    font-weight: bold;
}

.componentHeading > a{
    color:#a05747;
}

.componentSubHeading{
    color:gray;
    text-align:center;
    font-size:24px;
    line-height: 2;
}

@media screen and (max-width:1600px){
    body{
        background-color:#ecd4c9
    }
}


@media screen and (max-width:1400px){
    body{
        background-color:#b9f6ec
    }
}

@media screen and (max-width:1200px){
    body{
        background-color:#c2f6b9
    }
    #heading{
        margin-top:16%;
    }
    .dropdown{
        margin-top:24%;
        margin-left: 24%;
    }
}

@media screen and (max-width:1000px){
    body{
        background-color:#f6c4b7
    }
    .tileContainer{
        width:40%;
    }
    #heading{
        margin-top:20%;
        font-size:35px;
    }
    .dropdown{
        margin-top:26%;
        margin-left: 26%;
    }
    #search{
        height:350px;
    }
}

@media screen and (max-width:800px){
    body{
        background-color:#c1b7f6
    }
    .tileContainer{
        width:60%;
    }
    #heading{
        margin-top:22%;
        font-size:35px;
    }
    .dropdown{
        margin-top:29%;
    }
    select{
        width:70%
    }
    .restaurantSelect{
        width:70%;
    }
    #quicksearch{
        width:80%;
        margin-left:22%;
        margin-top: 5%;
    }
}

@media screen and (max-width:600px){
    body{
        background-color:#fdc0eb
    }
    #heading{
        margin-top:38%;
        font-size:25px;
    }
    .dropdown{
        margin-top:48%;
    }
}